@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    overflow-x: hidden;
    overflow-y: auto;
}
body{
    background-color: #222222;
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu{
    display: grid;
    grid-template-columns: 10% 65% auto;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90px;
    background-color: #222222;
    padding-left: 35px;
    color: #fff;
}
a{
    color: #fff;
}
#logo{
    float: left;
    width: 50px;
    height: 50px;
}
.caixa-buscar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-buscar{
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #484848;
    border-radius: 16px;
}
.input-buscar i{
    color: #fff;
    cursor: pointer;
}
.input-buscar input{
    width: 650px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}
.sidebar-left{
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 190px;
    height: 100%;
    padding-left: 23px;
    border-right: 1.5px solid #484848;
}
.sidebar-left button{
    height: 60px;
    color: #fff;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}
.sidebar-left button > span{
    display: inline-flex;
    align-items: center;
    gap: 16px;
    height: 48px;
    padding: 0px 16px 0px 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.3s;
}
.sidebar-left button:hover > span{
    background: rgba(250, 250, 250, 0.08);
}
.sidebar-left button i{
    position: relative;
    font-size: 30px;
}
.sidebar-right{
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 250px;
    height: 100%;
    padding-left: 23px;
    border-left: 1.5px solid #484848;
}
.sidebar-right button{
    height: 60px;
    color: #fff;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}
.sidebar-right button > div{
    display: inline-flex;
    align-items: center;
    gap: 16px;
    height: 48px;
    padding: 0px 16px 0px 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.3s;
}
.sidebar-right button:hover > div{
    background: rgba(250, 250, 250, 0.08);
}
.sidebar-right button i{
    position: relative;
    font-size: 30px;
}
.usuarios{
    display: inline-flex;
}
.usuarios > a{
    color: #22A2F2;

}
.pessoas{
    font-size: 14px;
    color: #fff;
}
.a{
    color: #22A2F2;
}
.usuario-topo{
    margin-left: 160px;
    background-color: transparent;
    outline: 0;
    border: 0;
    height: 48px;
    width: 150px;
    color: #fff;
    cursor: pointer;
    border-radius: 24px;
    transition: all 0.3s;
}
.usuario-topo i{
    position: relative;
    font-size: 30px;
    
}
.usuario-topo:hover{
    background: rgba(250, 250, 250, 0.08);
}
.box{
    height: 48px;
    width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;     
    line-height: 1;
    gap: 10px;
}
.caixa-publicar{
    border: 1.5px solid #fff;
    width: 665px;
    height: 142px;
    align-items: center;
    justify-content: center;
}
.publicar{
    color: #fff;
}
.feed{
    height: 1000vh;
}